<!DOCTYPE html>
<html>
<head>
	<title>Search Results: {{ keyword }}</title>
	<link rel="stylesheet" href="../static/search.css">
</head>
<body>
	<div>
	<a href="/{{ keyword }}/{{ prevthisnext[0] }}">Prev Page</a>
	<a href="/{{ keyword }}/{{ prevthisnext[2] }}">Next Page</a>
	</div>
	<div>
	<form method="POST">
		<input name="searchbox" autofocus>
	</form>
	</div>
	<div style="float: right;">
		Random Tags:
		{% for tag in randTags %}
		<a href="/{{ tag }}">{{ tag }}</a>
		{% endfor %}
	</div>
	<br />
	<hr>
	<br />
	<div class="row">
		{% for image in images %}
			{% if image[1] == 'image' %}
				<a target="_blank" href="{{ image[0] }}">
					<img src="{{ image[0] }}" alt="Image">
				</a>
			{% elif image[1] == 'video' %}
				{% set typeString = "video/"+image[2] %}
				<video controls>
					<source src="{{ image[0] }}" type="{{ typeString }}">
				</video>
			{% endif %}
		{% endfor %}
	</div>
	<br />
	<hr>
	<br />
</body>
</html>
